*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}


body {
    background-color: #000000;
    color: #ffffff;
}

h1 {
    text-align: center;
    color: #3ae2e2;



}

ul {
    border: solid #a1f160;
    color: #a1f160;
    margin: 50px 500px;
    padding: 24px;
}

button {
    display: block;
    background-color: #ea5ff7;
    border: dotted #3ae2e2;
    font-size: 25px;
    display: block;
    margin: 50px auto;

}